---
layout: default
title: Publications
---

<div class="well">
    {% for pub in site.data.sheets.pub %}
    <div>
        <span>{{ pub.authors | replace: "Jo K", "<b>Jo K</b>" | replace: "조겨리", "<b>조겨리</b>" }}.</span>
        <span>{{ pub.title }}.</span>
        <span>{{ pub.journal }}.</span>
        <span>{{ pub.date | date: "%Y %b %d"}}{% if pub.online != nil %} (online).{% endif %}</span>
        <span>{% if pub.number != nil %}; {{ pub.number }}.{% endif %}</span>
        <span>{{ pub.etc }}</span>
    </div>
    {% endfor %}
</div>