---
layout: default
title: Publications
---

<div class="well">
    {% assign cGroup = site.data.sheets.pub | group_by: "class" %}
    {% for class in cGroup %}
        <h1>{{ class.name }}</h1>
        <hr>
            {% assign dGroup = class.items | group_by_exp: "item", "item.date | date: '%Y' " %}
            {% for dates in dGroup %}
            <h2>{{ dates.name }}</h2>
                <ul>
                {% for pub in dates.items %}
                    <li>{{ pub.contents | replace: "?", " " | replace: "Jo K", "<b>Jo K</b>" | replace: "조겨리", "<b>조겨리</b>" }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% if class.name == "International Journals" %}<p>*: Equal contributors</p>{% endif %}
        <hr>
        <br>
    {% endfor %}
</div>